/*#main-content {
  background-image: url(/img/bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.logo {
  margin-left: 37px;
}

h1 {
  margin: 0 auto;
}

div h1 {
  text-align: center; 
}

.divider {
  height: 1px;
  width: 50%;
  margin: 50px auto;
  border: 1px dotted #424A5D;
}

#main-content {
  margin-left: 0;
}

#main-content.logged-in {
  margin-left: 210px;
}

.header {
  height: 50px;
}

.logout {
  height: 30px;
}
.location {

}

.activity {
  background-color: lightblue;
  height: 100px;  
}

.row .mt {
  margin-top: 0;
  height: 143px;
}

.location h1 {
  text-align: center;
}

.create_button {
  position: relative;
  width: 80%;
  background-color: #F5CF72;
  height: 100px;
  margin: 0 auto;
}

.create_title {
  text-align: center;
  padding: 36px;
}


.rating_box {
  position: absolute;
  top: 40px;
}




.create_input {
  display: flex;
  padding: 28px;
}

.create_input h4 {
  margin: 0 auto;
  height: 40px;
  width: 100%;
  border: none;
}

.create_input h4 input {
  height: 40px;
  background-color: #F5CF72; 
  width: 100%;
}

.no_border {
  border: none;
  text-align: center;
}

.main_content_box {
  height: 534px;
}

.li_star {
  color: white;
  font-size: 1.5em;
}


.content {
/*  background-color: tomato;
*/  height: 600px;
}

.activity_list {
  height: 70px;
  width: 60%;
  background-color: #F5CF72;
  border-radius: 5%;
  margin: 15px auto;
}

.rating_box {
  position: relative;
  left: 5px;
  height: 60px;
  width: 60px;
  text-align: center;
}


.title {
  text-align: center;
  margin-top: -30px;
}


.list_view {
  width: 70%;
  height: 400px;
  margin: 0 auto;
}


.show_icons {
    margin: 0 auto;
    justify-content: center;
    display: flex;

}

.tag_div {
  display: flex;
  justify-content: center;
}

.tag_div div {
  padding: 5px;
}

.show_icons ul {
  display: inline-flex;
}


.all_tags {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  position: relative;
}

.all_tags ul {
  display: inline-flex;
}

.new_btn {
  position: absolute;
  bottom: 32px;
}

.list_text {
  width: 100%;
  height: 350px;
  background-color: #F5CF72;
  margin: 0 auto;
  position: relative;
  top: 20px;
  padding: 50px;
}

.text_input {
  width: 100%;
  background-color: #F5CF72;
  border: none;
}


.activity_creator_avatar {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  right: 25px;
}


.param_div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.param_div div {
  margin: 5px;
}

/*comment css 
*/

.comment_input {
  width: 70%;
  height: 180px;
  background-color: #F5CF72;
  margin: 0 auto;
  /* border-radius: 10px; */
  position: relative;
  top: -119px;
  padding: 27px;
  right: -10px;
}


.comment_avatar {
  position: absolute;
  right: 38px;
}

.comment_avatar img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: white;
  position: relative;
}

.comment_text {
  width: 80%;
}

.comments {
  margin: 0 auto;
  height: 29%;
  width: 55%;
  background-color: tomato;
}

.comment_button {
  position: absolute;
  top: 111px;
  right: 261px;
}


.new_activity {
  height: 680px;
}


/*review css
*/
.review_comment {
  width: 60%;
  margin: 0 auto;
  position: relative;
  clear: both;
}

.review_text {
  position: relative;
  width: 70%;
  float: right;
  padding: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 11px;
  margin-right: 29px;
  margin-top: 20px;
}

.review_created_by {
  float: right;
  margin-right: 39px;
  margin-top: 5px;
}

.review_avatar img {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 100%;
  top: 22px;
  left: 5%;
  position: absolute;
}

.review_rating {
  width: 28px;
}

.new_review {
  height: 240px;
  position: relative;
  left: -10px
}

.individual_review {
  height: 180px;
}

.review_btn {
  position: absolute;
  bottom: 21px;
}



.show_icons {
  height: 200px;
  width: 100%;
}



.icon_style {
  height: 40px;
  width: 40px;
  background-color: orange;
  border-radius: 100%;
  margin: 10px;

}
