.logo {
  margin-left: 37px;
}

.activity {
  background-color: lightblue;
  height: 100px;  
}

.row .mt {
  margin-top: 0;
}

.create_button {
  position: relative;
  border: 1px solid black;
  height: 70px;
  width: 60%;
  background-color: #F5CF72;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 16px;
}





.create {
  text-align: center;
  margin: 15px 20px 0 0;
}

.content {
/*  background-color: tomato;
*/  height: 600px;
}

.activity_list {
  height: 70px;
  width: 60%;
  background-color: #F5CF72;
  border-radius: 5%;
  margin: 15px auto;
}

.rating_box {
  position: relative;
  left: 5px;
  height: 60px;
  width: 60px;
  text-align: center;
}


.title {
  text-align: center;
  margin-top: 0;
  position: relative;
  top: -78px;
}



.list_view {
  width: 70%;
  height: 60%;
  margin: 0 auto;
/*  background-color: lightblue;
*/}





.list_text {
  width: 86%;
  height: 90%;
  background-color: #F5CF72;
  margin: 0 auto;
  border-radius: 4%;
  position: relative;
  top: 20px;
  overflow: scroll;
  padding: 50px;
}


.activity_creator_avatar {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  float: right;
  position: relative;
  bottom: 49px;
  right: 10px;
}




/*comment css 
*/

.comment_input {
  margin: 0 auto;
  height: 29%;
  width: 55%;
/*  background-color: blue;
*/}
.comment_avatar {
  margin-top: 10px;
  margin-left: 26px;
}

.comment_avatar img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: green;
  position: relative;
  top: 18px;
}

.comment_text {
  float: right;
  width: 80%;
  margin-top: -71px;
}

.comments {
  margin: 0 auto;
  height: 29%;
  width: 55%;
  background-color: tomato;
}

.comment_button {
  position: absolute;
  top: 111px;
  right: 261px;
}





/*review css
*/
.review_comment {
  width: 60%;
  margin: 0 auto;
  position: relative;
  clear: both;
}

.review_text {
  position: relative;
  width: 70%;
  float: right;
  padding: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 11px;
  margin-right: 29px;
  margin-top: 20px;
}

.review_created_by {
  float: right;
  margin-right: 39px;
  margin-top: 5px;
}

.review_avatar img {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 100%;
  top: 22px;
  left: 5%;
  position: absolute;
}

.review_rating {
  width: 28px;
}

.new_review {
  height: 140px;
  position: relative;
}

.individual_review {
  height: 180px;
}


