#main-content {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body a:link {
  color: #424A5D;
}

.topbar_explore a {
  color: #fff;
}

#sidebar a {
  color: #fff;
  font-size: 30px;
}

p {
  font-size: 20px;
  color: black;
}

.logo {
  margin-left: 37px;
  margin-left: 60px;
}

.logo-text {
  font-weight: bold;
  color: #fff;
}

h5 {
  font-size: 20px;
}

h3, h4 {
  font-family: 'Lobster', sans-serif;

}

h1, h5 {
  margin: 0 auto;
  font-family: 'Lobster', cursive;
  color: white;
}

div h1 {
  text-align: center; 
}

.divider {
  height: 1px;
  width: 50%;
  margin: 50px auto;
  border: 1px dotted #424A5D;
}

#main-content {
  margin-left: 0;
}

#main-content.logged-in {
  margin-left: 210px;
}

.header {
  height: 50px;
}

.logout {
  height: 30px;
  margin-top: -157px;
  background-color: gray;
  color: #ddd;
}
.location input {
  color: black
}

input[type="radio"] {
  position: absolute;
  bottom: 35px;
}

.activity {
  background-color: lightblue;
  height: 100px;  
}

.row .mt {
  margin-top: 0;
  height: 210px;
}

.col-lg-12 {
  margin-top: 40px;
}

.location h1 {
  text-align: center;
}

.create_button {
  position: relative;
  width: 80%;
  background-color: #F5CF72;
  height: 100px;
  margin: 0 auto;
  margin: 80px auto 80px auto;
  box-shadow: 10px 10px 5px #888888;
  transition: background-color 0.5s ease;
}

.create_button:hover {
  background-color: #FFEFCA;
}

.create_title {
  text-align: center;
  padding: 36px;
}


.create_input {
  display: flex;
  padding: 28px;
}

.create_input h4 {
  margin: 0 auto;
  height: 40px;
  width: 100%;
  border: none;
}

.create_input h4 input {
  height: 40px;
  background-color: #F5CF72; 
  width: 100%;
}

.no_border {
  border: none;
  text-align: center;
}

.main_content_box {
  height: 534px;
}

.li_star {
  color: white;
  font-size: 1.5em;
}


.content {
/*  background-color: tomato;
*/  height: 600px;
}

.activity_list {
  height: 70px;
  width: 60%;
  background-color: #F5CF72;
  border-radius: 5%;
  margin: 15px auto;
}

.rating_box {
  position: absolute;
  right: 190px;
  top: 18px;
  height: 60px;
  width: 60px;
  text-align: center;
}


.title {
  text-align: center;
  padding: 50px;
  margin-top: -30px;
}


.list_view {
  width: 70%;
  height: 400px;
  margin: 0 auto;
}


.show_icons {
    margin: 0 auto;
    justify-content: center;
    display: flex;

}

.tag_div {
  display: flex;
  justify-content: center;
}

.tag_div div {
  padding: 5px;
}

.show_icons ul {
  display: inline-flex;
}


.all_tags {
  margin: 0 auto;
  justify-content: center;
  display: inline-flex;
  position: relative;
  left: 70px;
}

.all_tags ul {
}

.new_btn {
  position: absolute;
  bottom: 32px;
}

.list_text {
  width: 100%;
  height: 350px;
  background-color: #F5CF72;
  margin: 0 auto;
  position: relative;
  top: 20px;
  padding: 50px;
}

.text_input {
  width: 100%;
  background-color: #F5CF72;
  border: none;
}


.activity_author_avatar {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 60px;
  width: 60px;
}

.img-circle {
  background-color: white;
  border-radius: 100%;
}


.param_div {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

.param_div div {
  margin: 5px;
  font-size: 15px;
  color: white;
}

.param_div div p {
  color: white;
}

/*comment css 
*/

.comment_input {
  width: 70%;
  height: 180px;
  background-color: #F5CF72;
  margin: 0 auto;
  /* border-radius: 10px; */
  position: relative;
  top: -119px;
  padding: 27px;
  right: -10px;
}


.comment_avatar {
  position: absolute;
  right: 38px;
}

.comment_avatar img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: white;
  position: relative;
}

.comment_text {
  width: 80%;
  background-color: white;
}

.comments {
  margin: 0 auto;
  height: 29%;
  width: 55%;
  background-color: tomato;
}

.comment_button {
  position: absolute;
  top: 111px;
  right: 261px;
}


.new_activity {
  height: 680px;
}


/*review css
*/
.review_comment {
  width: 60%;
  margin: 0 auto;
  position: relative;
  clear: both;
}

.review_text {
  position: relative;
  width: 70%;
  float: right;
  padding: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 11px;
  margin-right: 29px;
  margin-top: 20px;
}

.review_created_by {
  float: right;
  margin-right: 39px;
  margin-top: 5px;
}

.review_avatar img {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  background-color: white;
  border-radius: 100%;
  top: 22px;
  left: -100px;
  position: absolute;
}

.review_rating {
  width: 28px;
  color: black;
}

.new_review {
  height: 130px;
  position: relative;
  left: -10px
}

.individual_review {
  height: 180px;
}

.review_btn {
  position: absolute;
}

.error_msg {
  position: absolute;
  top: -5%;

}

.show_icons {
  height: 80px;
  width: 30%;
  position: absolute;
  top: -40px;
  left: 0;
}



.icon_style {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.icon_style img {
  height: 40px;
}


.create_first {
  margin: 0 auto;
}


.all_tags {
  position: absolute;
  top: 40px;
  left: 15px;
}

.individual_tag {
  margin-left: 10px;
}




.login_page {
  position: relative;
  height: 900px;
  width: 100%;
/*  background-color: lightblue;
*/  margin-bottom: 0;
}

.doge {
  background-image: url(/img/doge.jpeg);
  background-size: cover;
  height: 600px;  
  width: 600px;
  border-radius: 100%;
  position: absolute;
  top: 100px;
}

.login_form {
  position: absolute;
  top: 200px;
  left: 600px;
}


.logout {
  border: none;
  background-color: none;
}


.main_wrap {
  width: 100%;
  position: default;
  height: 1000px;
  text-align: center;
}

.image_checkbox {
  text-align: center;
}


.main_explore {
  width: 80%;
  margin: 0 auto;
}


.main_explore form {
  height: 450px;
  position: relative;
  top: 260px;
  background-color: rgba(255,255,255,.8);
  padding: 20px;
  border-radius: 5px;
}

.cost_check {
  width: 300px;
  margin: 20px auto;
}

.cost_box {
  margin-top: 20px;
}


#home1, #outdoor1, #social1, #solo1 {
  height: 100px;
  width: 100px;
}



.checked {
  border: 2px solid black;
  border-radius: 100%;
}


input[type="checkbox"]{
  display:none;
}


#nav-accordion {
  margin-top:75%;
}

.image_checkbox {
  width: 240px;
  float: left;  
}


.topbar_explore {
  margin-top: 12px;
}

ul.sidebar-menu li {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 300px;
}

<<<<<<< HEAD

/*.logout_special {
  position: absolute;
  left: 200px;
}*/

/*.login_form form {
  position: absolute;
  top: 300px;
  left: 600px;
}*/
=======
.explore_row {
  display: block;
  clear: both;
  padding-top: 30px;
  margin-top: -30px;
}
>>>>>>> e6201b3ee87b66252123f7057decffdc320b2d88
