    <section id="container">
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
            <!--logo start-->
            <a href="index.html" class="logo"><b>Guide Dog</b></a>
            <!--logo end-->
            
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Login/Create</a></li>
              </ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar" class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">User.name</h5>
                    
                  <li class="mt">
                      <a href="http://localhost:3000/user">
                          <i class="fa fa-dashboard"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Influncer Score</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Viewing list</h3>
            <div class="row mt">
              <div class="col-lg-12">

                  <div class="row mt">
                    
                    <%= erb :'/activities/unique' %>

                    <div class="content col-lg-12">
                      



                      <div class="list_view">
                        <div class="list_text">
                          <p>Salvia quinoa brunch locavore health goth, Portland cornhole tousled polaroid. Keffiyeh raw denim small batch, readymade occupy fanny pack lomo. 8-bit Marfa Schlitz distillery Shoreditch kogi meditation, roof party scenester. Wolf crucifix Kickstarter, Shoreditch farm-to-table pork belly brunch Banksy post-ironic Etsy try-hard church-key. Cred small batch street art heirloom. Carles cray health goth photo booth asymmetrical meditation disrupt kale chips viral. Seitan lo-fi fanny pack, artisan occupy polaroid sustainable.
                          </p>
                        </div>
                        <div class"list_tags"></div>
                      </div>




                      <div class="comment_input">
                      
                        <div class="comment_avatar"></div>

                        <form>
                            <input value="ERB USER" type="hidden" name="author" placeholder="Text input">
                            
                            <textarea class="form-control comment_margin comment_text" rows="4"></textarea>

                            <input class="comment_margin comment_button" type="submit" value="submit">

                          </form>
                      </div>                      


                      <div class="comments">
                        <textarea class="form-control"></textarea>
                        
                      </div>




                    </div>

                  </div> <!-- end of create_button -->
                </div> <!-- end of create_activity -->


              </div>
            </div>
          </section>
      </section>
      


    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

</html>
