<div class="show_icons">

    <div class="icon_style">
      <% if @activity.social %>
        <img src="/img/social.png" alt="social icon"/>
      <% else %>
        <img src="/img/solo.png" alt="alone icon" />
      <% end %>
    </div>

    <div class="icon_style">
      <% if @activity.at_home %>
        <img src="/img/indoors.png" alt="at home icon" />
      <% else %>
        <img src="/img/outdoors.png" alt="outdoors icon" />
      <% end %>
    </div>

    <div class="icon_style">
      <div class="cost">
        <img src= "<%= @activity.cost_img %>" />
      </div>
    </div>
      
  </div>
  <!-- end icon display -->


  <!-- display tags -->
  <div class="all_tags">
      
        <% tags = @activity.tags %>
      
        <% tags.each do |tag| %>
        <div class="individual_tag"> 
          <%= tag.name %>  
        </div>
        <% end %>

  </div>