<div class="comment_input">
    
  <div class="comment_avatar"></div>

  <form>
    <input value="ERB USER" type="hidden" name="author" placeholder="Text input">
    <textarea class="form-control comment_margin comment_text" rows="4"></textarea>
    <input class="comment_margin comment_button" type="submit" value="submit">
  </form>
</div> 




<div class="comments">
  <textarea class="form-control"></textarea>
</div>
