<!-- this template receives a variable called @activities
@activities is a Collection of Activity objects (pre-selected and sorted)
this template will render all Activities in the Collection in a list -->     

<!-- yield from layout.erb -->

  <!-- will only be rendered if logged in -->
  <% if session[:user_id] %>

    <div class="user avatar"
      <img src="<%= current_user.avatar %>" />
    </div>

    <div class="create button">
      
      <a href="/users/<%= session[:user_id] %>/activities/new">
        <button class="Create New Activity"></button>
      </a>

    </div>

  <% end %>
  <!-- end rendered if logged in -->

  <!-- display search parameters,
    will only be rendered if displaying search results
    otherwise will display all activities, or all activities belonging to specific user  -->
  <% if @search %>

    <div class="tags, location, icons">
      <!-- work in progress! -->
    </div>

  <% end %>
  <!-- end search parameters -->


  <!-- list of ALL activities -->
  <div class="container for activity list">

    <% @activities.each do |activity| %>
      <% @activity = activity %>

      <!-- this is a list item representing one Activity
          it links to details page for that activity 
          it will repeat itself for all activities -->
      <a href = "/activities/<%= activity.id %>">
        <div class="container for activity summary">
          <%= erb :'activities/show_short' %>  
        </div>
      </a>
      <!-- end individual activity -->

    <% end %>
  </div>
  <!-- end list of all activities -->
