 <!-- this template receives a variable called @activities
@activities is a Collection of Activity objects (pre-selected and sorted)
this template will render all Activities in the Collection in a list -->     

<!-- yield from layout.erb --> 




 <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
<section id="main-content" <%= session[:user_id] ? "class='logged-in'" : "" %>>
  <section class="wrapper site-min-height">
    <h3><i class="fa fa-angle-right"></i> Logged in</h3>
      <div class="row mt">
        <div class="col-lg-12">

          
               <!-- will only be rendered if logged in 
                   contains avatar and create button-->                   
        <% if session[:user_id] %> 
          <div class="row mt login_page">    

            
              <div class="create_button">
                <a href="/activities/new">
                <h3 class="create_title"><span class="li_pen"></span> Create New Activity</h3>
                </a>
              </div>
            
            
          </div>
        <% end %>

           
              <!-- end rendered if logged in --> 

               <!-- displays search parameters, if there are any -->
                <!--       <% if @search %> -->  <!-- need to make a div for on html -->
                <!--       <div class="tags, location, icons"> -->
                    <!-- work in progress! -->
                <!--    </div>
                <% end %> -->
                <!-- end search parameters -->


            <!-- content start div -->

               
              <% @activities.each do |activity| %>
                <% @activity = activity %>
                <!-- this is a list item representing one Activity
                    it links to details page for that activity 
                    it will repeat itself for all activities -->
              
              <div class="create_button">
                    <%= erb :'activities/show_short' %>
              </div>
                <!-- end individual activity -->
              <% end %>

            <!-- content end div -->

      


          
      </div>
    </div>
  </section>
</section>

