<!-- Display complete version of Activity 
  Takes @activity as an instance variable -->

  <div>

  <!-- show summary (list version) of activity (icons, tags, title, rating) -->
  <div class="something">
  <%= erb :'activities/show_short' %>
  </div>

  <!-- show detailed content of activity -->
  <%= @activity.content %>

  <!-- generate HTML to display submission box for new review -->
  <%= erb :'reviews/new' %>
  <!-- end new review submission -->

  <!-- iterates over collection of reviews -->
  <% @activity.reviews.each do |review| %>
    <% @review = review %>
    <!-- generate html for individual review -->
    <%= erb :'reviews/show' %>
  <% end %>
  <!-- end iteration -->

  </div>