<!-- called from activities/show
@activity available as variable
DOES NOT SHOW UP IF NOT LOGGED IN -->

<!-- If submission was invalid, will display error messages. 
                    This will not be rendered at all if there are no errors -->
                    <% if @review.errors.any? %>
                      <div class="error messages">
                        
                        <strong>Some issues with your submission, please fix them:</strong>
                        <ul>
                          <% @review.errors.full_messages.each do |error_message| %>
                            <!-- single error message 
                              this <li> will be repeated for each error -->
                            <li><%= error_message %></li>
                          <% end %>
                        </ul>
                      
                      </div>
                    <% end %>
                    <!-- end error messages -->

<div class="comment_input">
    
    <!-- current user's avatar when logged in -->
  <div class="comment_avatar">
    <img src="<%= current_user.avatar %>">
  </div>
  <!-- end log in -->

  <form>
    <textarea class="form-control comment_margin comment_text text_input" rows="4" name="user" placeholder="Rate or comment on this activity!"></textarea>
  <button type="submit" class="review_btn btn btn-default">Submit</button>
  </form>
</div> 