<!-- called from activities/show
@activity available as variable
DOES NOT SHOW UP IF NOT LOGGED IN -->



<div class="comment_input">
  
  <% if @review.errors.any? %>
    <div class="error_msg">            
            <strong>Some issues with your submission, please fix them:</strong>
            <ul>
              <% @review.errors.full_messages.each do |error_message| %>
                <!-- single error message 
                  this <li> will be repeated for each error -->
                <li><%= error_message %></li>
              <% end %>
            </ul>
     </div>
        <% end %>

                    
    
    <!-- current user's avatar when logged in -->
  <div class="comment_avatar">
    <img src="<%= current_user.avatar %>">
  </div>
  <!-- end log in -->

  <form action="/activities/<%= @activity.id %>/reviews" method="post">
      <% if !session[:user_id] %>
      Sign up or log in to post a comment or rating!
      <% end %>
    <textarea class="form-control comment_margin comment_text text_input" rows="4" name="comment" placeholder="Rate or comment on this activity!"></textarea>
    <div class="rating" style="margin-right:0;display:inline-block">Rating
    <table>
    <tr>
      <td><input type="radio" name="rating"></td>
      <td><input type="radio" name="rating" value="1"></td>
      <td><input type="radio" name="rating" value="2"></td>
      <td><input type="radio" name="rating" value="3"></td>
      <td><input type="radio" name="rating" value="4"></td>
      <td><input type="radio" name="rating" value="5"></td>
    </tr>
    <tr>
      <td>none</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    </table>
    </div>
  <button type="submit" class="review_btn btn btn-default">Submit</button>
  </form>
</div> 