<!-- Shows a single review. part of a list
  Takes @review as a variable
  -->




<div class="review_comment">
  
  <div class="review_text"> 

  
    <% @review.rating.times do %>
      <div class="li_star review_rating" style="display:inline-block"></div>
    <% end %>
 
    <p><%= @review.comment %></p>

  <div class="review_created_by">
    posted by <%= username_href(@review.user_id) %> at <%= @review.created_at %>
  </div>
  <div class="review_avatar">
    <img src="<%= @review.user.avatar %>">  
  </div>
</div>