<!-- yields directly from layout.erb.
  structure is similar to activities/index.erb
  collects data to search for activities -->

<form action="/activities" method="post">
<input name="at_home" type="checkbox">At home
<input name="outdoor" type="checkbox">Outdoor
<input name="social" type="checkbox">Social
<input name="solo" type="checkbox"> solo<!-- boolean -->


<p>Cost</p><!-- boolean -->
<select class="form-control" name="cost">
    <option value="0">
      <img src=" <%= @activity.cost_img %>" alt="free" />
    </option>
    <option value="1">
      <img src= "<%= @activity.cost_img %>" alt="cost" />
      <h1>$</h1>
    </option>
    <option value="2">
      <img src= "<%= @activity.cost_img %>" alt="cost2" />
      <h1>$$</h1>
    </option>
    <option value="3">
      <img src= "<%= @activity.cost_img %>" alt="cost2" />
      <h1>$$$</h1>
    </option>
  </select>
<input type="submit" value="submit">
</form>
