<!-- yields directly from layout.erb.
  structure is similar to activities/index.erb
  collects data to search for activities -->

<form action="/activities" method="post">
<input name="at_home" type="checkbox">At home
<input name="outdoor" type="checkbox">Outdoor
<input name="social" type="checkbox">Social
<input name="solo" type="checkbox"> solo<!-- boolean -->


<p>Cost</p><!-- boolean -->
<input name="cost" type="radio"> no selection
<input name="cost" type="radio" value="0"> free
<input name="cost" type="radio" value="1"> $
<input name="cost" type="radio" value="2"> $$
<input name="cost" type="radio" value="3"> $$$<!-- pick from 0, 1, 2, 3 -->
<input type="submit" value="submit">
</form>