<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Guide Dog</title>

    <!--     FORM STYLESHEET AND JS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/form_stylesheets/css/style.css">
    <script type="text/javascript" href="/stylesheets/form_stylesheets/main.js"></script>
    <script type="text/javascript" href="/stylesheets/form_stylesheets/jquery-2.1.1.js"></script>





    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="/stylesheets/css/style.css" rel="stylesheet">
    <link href="/stylesheets/css/style-responsive.css" rel="stylesheet">

    <link href="/lineicons/style.css" type="text/css" rel="stylesheet">







    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">


 



</head>
<body>

 <section id="container">
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
            <!--logo start-->
            <a href="index.html" class="logo"><b>Guide Dog</b></a>
            <!--logo end-->
            
            <div class="top-menu">

              <!-- LOGIN/LOGOUT BUTTONS -->
              <ul class="nav pull-right top-menu">
                <% if session[:user_id] %>

                  <!-- LOGIN BUTTON -->
                  <form action="/sessions/delete" method="post">
                    <li>
                      <input class="logout" type="submit" value="Logout"> <!-- TODO style -->
                    </li> 
                  </form>
                  <!-- END LOGIN BUTTON -->

                <% else %>

                  <!-- LOGOUT BUTTON -->
                    <li>
                      <a class="logout" href="/sessions/new">
                        <input class="logout" type="submit" value="Login">
                      </a>
                    </li>
                  <!-- END LOGOUT BUTTON -->

                <% end %>

              </ul>
              <!-- END LOGIN/LOGOUT BUTTONS -->

            </div>

        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar" class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="/img/doge.jpeg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">User.name</h5>
                    
                  <li class="mt">
                      <a href="http://localhost:3000/user">
                          <i class="fa fa-dashboard"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="mt">
                      <i class="li_star"></i>
                      <span> Influncer Score</span>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
     

  <%= yield %>


  
</body>
</html>
