<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Guide Dog</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="/stylesheets/css/style.css" rel="stylesheet">
    <link href="/stylesheets/css/style-responsive.css" rel="stylesheet">

    <link href="/lineicons/style.css" type="text/css" rel="stylesheet">




    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">


    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>



</head>
<body>

 <section id="container">
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
            <!--logo start-->
            <a href="/" class="logo"><b>Guide Dog</b></a>
            <!--logo end-->
            
            <div class="top-menu">

              <!-- LOGIN/LOGOUT BUTTONS -->
              <ul class="nav pull-right top-menu">
                <% if session[:user_id] %>

                  <!-- LOGIN BUTTON -->
                  <form action="/sessions/delete" method="post">
                    <li>

              
                      <input class="logout btn btn-default" type="submit" value="Logout"> <!-- TODO style -->
                    </li> 
                  </form>
                  <!-- END LOGIN BUTTON -->

                <% else %>

                  <!-- LOGOUT BUTTON -->
                    <li>
                      <a class="logout" href="/sessions/new">
                        <input class="logout" type="submit" value="Login">
                      </a>
                    </li>
                  <!-- END LOGOUT BUTTON -->

                <% end %>

              </ul>
              <!-- END LOGIN/LOGOUT BUTTONS -->

            </div>

        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
 
      <!--sidebar end-->
      
      <% if session[:user_id] %>

        <%= erb :'sidebar' %>

      <%end%>
     

  <%= yield %>


  
</body>
</html>
