     <aside>
          <div id="sidebar" class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="/img/doge.jpeg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">User.name</h5>
                    
                  <li class="mt">
                      <a href="http://localhost:3000/user">
                          <i class="fa fa-dashboard"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="mt">
                      <i class="li_star"></i>
                      <span> Influncer Score</span>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>