     <aside>
          <div id="sidebar" class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="/users/<%= session[:user_id] %>"><img src="/img/doge.jpeg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">Welcome, <%= username_href(session[:user_id]) %></h5>
                    
                  <li class="mt">
                      <a href="/users/<%= session[:user_id] %>">
                          <i class="fa fa-dashboard"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="mt">
                      <i class="li_star"></i>
                      <span> Influencer Score</span>
                  </li>

                  <li class="mt">
                      <i class="li_star"></i>
                      <span>
                        <% @tags = current_user.tags %>
                        <%= erb :'tags/index' %>
                      </span>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>